/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*----astrix element to remove default padding and margin----*/
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

/*----body element----*/
body{
    min-height:100vh;
    display:flex;
    flex-direction: column;

    /*----general page rules----*/
    color:#3a3a3a;
    font-family:"Lato",sans-serif;
}

/*----header element----*/
header {
    background-color:blue;
}

/*----main element----*/
main {
background-color: gold;

/*----make main element take up surplus space----*/
flex:1 0 auto;
}

/*----footer element----*/
footer {
background-color: red;

}