/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*----astrix element to remove default padding and margin----*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*----body element----*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /*----general page rules----*/
    color: #3a3a3a;
    font-family: "Lato", sans-serif;
}


/*----header element----*/
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/*----header anchor element----*/
header a {
    text-decoration: none;
    color: inherit;
}


/*----h1 element----*/
h1 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/*----main element----*/
main {
    background-color: lightblue;
    margin-top: 47px;
    /*----make main element take up surplus space----*/
    flex: 1 0 auto;
}

/*----Menu id element---*/
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

/*----target li elements within a Menu id element---*/
#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*----drop down menu for nav elements---*/
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/*----nav toggle functionality----*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*----footer element----*/
footer {
    background-color: orange;

}

/*----media query----*/
@media screen and (min-width:768px) {

    /*----header----*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;

    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /*----main----*/
    main {
        /*----push main content down to accomidate larger header----*/
        margin-top: 79px;

    }
}

/*----media query----*/
@media screen and (min-width:992px) {

    /*----target all a of menu----*/
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

}